/* You can add global styles to this file, and also import other style files */
@use '../../node_modules/primeflex/primeflex.css';
@use '../../node_modules/primeflex/themes/primeone-dark.css';
@use "../../node_modules/primeicons/primeicons.css";
@use "../lib/logged-in/debt-tracker/floating-button/styles.css";

$globalBackground: rgb(47,79,79, 10%);

html, body {
  font-family: system-ui;
}

body {
  background-image: url("./bg.svg");
}

.filled-background {
  background-color: $globalBackground;
}
